body {
    font-family: serif;
    background-color: #202020;
    color: #c9c9c9;
}

p {
    margin: 0;
    font-style: italic;
}
h2 {
    break-after: avoid;
    font-size: larger;
    font-weight: normal;
    margin-bottom: 0.2em;
}
.lyric-line {
    display: flex;
    flex-wrap: wrap;
    break-inside: avoid;
}
.lyric-word {
    display: inline-flex;
    flex-direction: row;
    height: 100%;
}
.lyric-part {
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.instrumental-chord {
    font-weight: bold;
    padding-right: 0.5em;
    width: auto;
    position: static;
}
.chord {
    font-family: sans-serif;
    font-weight: bold;
    grid-row: 1;
    width: 0;
    position: relative;
    left: 0;
}
.lyric {
    grid-row: 2;
    white-space: pre;
}

@media print {
    .no-print {
        display: none;
    }
    * {
        color: black;
    }
}

.chord-sheet {
    columns: 2;
}